includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
    level: max
    ignoreErrors:
        - '#PHPDoc tag @mixin contains unknown class App\\Models\\IdeHelper[a-zA-Z0-9\\_]+#'
        - '#Call to an undefined method App\\Http\\Requests\\[a-zA-Z0-9\\_]+::route\(\)#'
        - '#Call to an undefined method App\\Http\\Requests\\[a-zA-Z0-9\\_]+::all\(\)#'
        - '#Call to an undefined method Illuminate\\Http\\Request::session\(\)#'
        - '#Call to an undefined method Illuminate\\Http\\Request::expectsJson\(\)#'
        - '#Call to an undefined method Illuminate\\Http\\Request::getPreferredLanguage\(\)#'
        - '#Call to an undefined method Illuminate\\Http\\Request::user\(\)#'
        - '#Call to an undefined method Illuminate\\Http\\Request::ip\(\)#'
        - '#Call to an undefined static method Illuminate\\Foundation\\Http\\FormRequest::all\(\)#'
        - '#Access to undefined constant Illuminate\\Http\\Request::HEADER_X_FORWARDED_[a-zA-Z0-9\\_]+#'
    scanFiles:
        - _ide_helper.php
#        - _ide_helper_models.php
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
