includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
    level: 5
    ignoreErrors:
        - '#PHPDoc tag @mixin contains unknown class App\\Models\\[a-zA-Z0-9\\_]*IdeHelper[a-zA-Z0-9\\_]+#'
