includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
    level: 1
    ignoreErrors:
        - '#Access to undefined constant Illuminate\\Http\\Request::HEADER_X_FORWARDED_[a-zA-Z0-9\\_]+#'
        - '#Call to an undefined method App\\Http\\Requests\\[a-zA-Z0-9\\_]+::route\(\)#'
        - '#Call to an undefined method App\\Http\\Requests\\[a-zA-Z0-9\\_]+::all\(\)#'
        - '#Call to an undefined method App\\Http\\Requests\\[a-zA-Z0-9\\_]+::user\(\)#'
        - '#Call to an undefined method App\\Http\\Requests\\FormRequest::merge\(\)#'
    scanFiles:
        - _ide_helper.php
#        - _ide_helper_models.php
    checkMissingIterableValueType: false
#    reportUnmatchedIgnoredErrors: false
